yarn.lock
yarn-error.log
package.lock
node_modules/
.env

# Production files
/lib/
/tmp/
/storage/

# Idea configs
.idea/dataSources
.idea/cefabot-v4.iml
.idea/compiler.xml
.idea/discord.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/statistic.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
